SECRET_KEY=troque-esta-chave-antes-do-deploy
SERE_SECRET_KEY=troque-esta-chave-antes-do-deploy
SERE_COOKIE_SECURE=1
SERE_DB_PATH=sere.db
FLASK_DEBUG=0
SERE_ADMIN_PASSWORD=troque-a-senha-admin
SERE_PROFESSOR_PASSWORD=troque-a-senha-professor
SERE_ALUNO_PASSWORD=troque-a-senha-aluno
